.Rproj.user
.Rhistory
.RData
.Ruserdata
problemSets/PS01/my_answers/PS01.tex
problemSets/PS01/my_answers/PS01_EK.tex
*.pdf
problemSets/.DS_Store
problemSets/PS01/.DS_Store
problemSets/PS01/my_answers/.DS_Store
problemSets/PS01/my_answers/PS01_EK.aux
problemSets/PS01/my_answers/PS01_EK.log
problemSets/PS01/my_answers/PS01_EK.out
problemSets/PS01/my_answers/PS01_EK.synctex.gz
