.Rproj.user
.Rhistory
.RData
.Ruserdata
problemSets/PS01/my_answers/PS01.tex
problemSets/PS01/my_answers/PS01_EK.tex
*.pdf
problemSets/.DS_Store
problemSets/PS01/.DS_Store
problemSets/PS01/my_answers/.DS_Store
problemSets/PS01/my_answers/PS01_EK.aux
problemSets/PS01/my_answers/PS01_EK.log
problemSets/PS01/my_answers/PS01_EK.out
problemSets/PS01/my_answers/PS01_EK.synctex.gz
problemSets/PS02/my_answers/PS02.synctex.gz
problemSets/PS02/my_answers/PS02.out
problemSets/PS02/my_answers/PS02.log
problemSets/PS02/my_answers/PS02.aux
problemSets/PS02/.DS_Store
problemSets/PS01/.DS_Store
problemSets/.DS_Store
.DS_Store
problemSets/PS02/.DS_Store
problemSets/PS01/.DS_Store
problemSets/.DS_Store
.DS_Store
tutorials/.DS_Store
problemSets/PS02/my_answers/women_desc.png
problemSets/PS02/.DS_Store
problemSets/PS01/.DS_Store
problemSets/.DS_Store
tutorials/.DS_Store
problemSets/PS02/.DS_Store
problemSets/PS01/.DS_Store
problemSets/.DS_Store
tutorials/.DS_Store
problemSets/PS02/.DS_Store
problemSets/PS01/.DS_Store
problemSets/.DS_Store
.DS_Store
problemSets/PS02/.DS_Store
problemSets/PS03/my_answers/PS3_EK.aux
*.png
*.tex
*.gz
*.out
*.log
problemSets/PS02/.DS_Store
problemSets/.DS_Store
tutorials/Tuesday/.DS_Store
